<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <form action="/" class="container">
        <h1>Welcome Back! <span class="wave">👋🏾</span></h1>
        <div class="field"><span class="fa fa-envelope"></span><input type="text" placeholder="Email Address"></div>
        <div class="field"><span class="fa fa-lock"></span><input type="password" placeholder="Password"></div>
        <input type="submit" class="submit" value="Login">
        <span class="login-form-copy">Or Login with</span>
        <div class="social-icons">
          <div class="social-icon facebook"><span class="fa fa-facebook"></span></div>
          <div class="social-icon instagram"><span class="fa fa-instagram"></span></div>
          <div class="social-icon twitter"><span class="fa fa-twitter"></span></div>
          <div class="social-icon google"><span class="fa fa-google"></span></div>
          <div class="social-icon linkedin"><span class="fa fa-linkedin"></span></div>
        </div>
      <span class="logn-form-copy">Create an account? <a href="/" class="login-form__sign-up">Sign Up</a></span>
      </form>
  </body>